div.index-homepage {
  background-color: white;
  font-family: "roboto", sans-serif;
  background: #ddeedf;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px,
    rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
  border-radius: 16px;
  padding: 30px;
}
div.index-homepage h1 {
  margin: 0 0 5px;
  font-family: "roboto", sans-serif;
  color: #57385c;
  font-size: 24px;
}
